<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0)" routerLink="">GAMIC</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLink="my-licences" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0)">My Tokens</a>
                </li>
                <li class="nav-item" routerLink="mint-licences" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0)">Mint Tokens</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
